*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

.hero__section__title {
    margin: 0;
}

img {
    width: 100%;
}

/* header elements */

header {
    background: #2E323F;
    color: #fff;
}

.container {
    width: 85%;
    margin: 0 auto;
}


.navigation,
.nav__links {
    display: flex;
    align-items: center;
}

.navigation {
    justify-content: space-between;
}

.logo {
    flex-shrink: 0;
    /* border: 1px solid #fff; */
}

.nav__links {
    flex-shrink: 1;
    /* border: 1px solid #fff; */
}

nav ul {
    display: flex;
}

.nav__item+.nav__item {
    margin-left: 1em;
}

li,
a {
    text-decoration: none;
    list-style-type: none;
}

ul li a {
    color: #fff;
}

.sign_up {
    background-color: #A59678;
    padding: .25rem .75rem;
    border-radius: 1rem;
}

/* hero section */

.hero {
    background-color: #3B4050;
    color: #fff;
    padding: 3rem 0;

}

.hero__button {
    color: #fff;
    background-color: #A59678;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

.hero__button:hover {
    background-color: #5F7E5B
}

.hero__button:active {
    background-color: #5F7E5B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.brown {
    color: #A59678;
}

/* second_section  */

.three-col {
    background-color: #DFE0DB;
    margin: 0;
    padding: 3rem 0;
}

.three_col_smaller_screen {
    display: flex;
    flex-direction: column;
}

.three__col__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.three__col__text+.three__col__text {
    margin-top: 2rem;
}

/* third__section */

.third__section {
    padding: 3rem 0;

}

/* bg__dark  */

.bg__dark {
    background-color: #3B4050;
    padding: 1rem;
    color: #fff;
}

.bg__dark+.bg__dark {
    margin-top: 1rem;
}

/* footer  */

footer {
    padding: 2rem 0;
}

@media only screen and (min-width: 700px) {

    /* second_section  */
    body {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .hero__section__title,
    .hero__section__title span {
        font-size: 3rem;
        line-height: 1.1em;
    }

    .hero__text {
        height: 100%;
        margin-left: 2.5rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .second_div {
        display: flex;
        text-align: center;
    }

    .second_section_smaller_screen {
        display: flex;
        flex-direction: row;
    }

    .section_div+.section_div {
        margin: 0 0 0 1.5rem;
    }

    /* third section  */

    .third__section {
        display: flex;
        flex-direction: column;
    }

    .aside__at__screens {
        display: flex;
        flex-direction: row;
    }

    /* footer */

    .footer_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__groups {
        display: flex;
        justify-content: space-between;
    }

    .last__text {
        width: 35%;
    }

    .footer__links {
        display: flex;
    }

    .footer__links {
        flex-shrink: 0;
        flex-grow: 1;
        width: 55%;
        justify-content: flex-end;
    }

    .last__links+.last__links {
        margin-left: 1rem;
    }

}

@media only screen and (min-width: 1200px) {

    body {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .brown {
        font-size: 2rem;
    }

    .row {
        display: flex;
        align-items: flex-end;
    }

    /* header */

    header a {
        align-self: center;
    }

    header a img:hover {
        background-color: #5F7E5B
    }

    header a img:active {
        background-color: #5F7E5B;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


    /* hero  */

    .hero {
        display: flex;
        justify-content: space-between;
    }

    .hero__section__title,
    .hero__section__title span {
        font-size: 5rem;
        line-height: 1.1em;
        width: 40%;
    }

    .hero__text {
        width: 55%;
    }

    /* third section  */

    .third__section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    /* main */

    main {
        margin-right: 5rem;
    }


    /* aside  */

    .aside__at__screens {
        display: flex;
        flex-direction: column;
    }

    .section_div {
        margin: 0;
    }

    .section_div+.section_div {
        margin: 1.2rem 0 0 0;
    }


}