*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem
}

img {
    width: 100%
}

header {
    background: #2E323F;
    border: solid 1px purple;
    display: none;
}

/* .row {
    display: flex;
    justify-content: space-between
} */

/* nav {
}  */

/* nav ul {
    display: flex;
} */

li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 1rem;
    padding: 0 .5rem;
    width: 5rem;
}

/* li a {
    color: #fff;
    text-decoration: none;
} */