*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* padding: 1em; */

}

.container {
    max-width: 85%;
    margin: 0 auto;
}

img {
    width: 100%
}

.section__title {
    color: #A59678;
}


.section__text {
    background-color: #3b4050;
    color: #ffffff;
    padding: .5rem;
    margin: 1rem 0;
}

header {
    background: #2E323F;
    display: none;
}

.three-col {
    display: none;
}


li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 1rem;
    padding: 0 1rem;
    width: 5rem;
}

/* li a {
    color: #fff;
    text-decoration: none;
} */

.footer__groups {
    display: block;
    justify-content: space-between;
}

.last__title {
    color: #A59678;
}

@media only screen and (min-width: 768px){

    header {
        background: #2E323F;
        display: flex;
        padding: 1rem ;
    }

    .container {
        /* width: 80%; */
        max-width: 1120px;
    }

    .row {
        display: flex;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        /* flex: 2; */
        justify-self: end;
    }




    .links {
        /* align-self: flex-end; */
        /* flex: 1; */
        justify-self: end;
        
    }

    .nav__links {
        display: flex;
        justify-self: flex-end;
    }

    .nav__item {
        padding: 0 1rem;
        border: 1px solid red;
    }
    

    .three-col {
        display: flex;
    }

    .main__aside {
        display: flex;
    }

    main {
        order: 1;
        margin-right: 5em;
    }



    aside {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    /* .section__text + .section__text {
        margin-left: 1rem;
    } */

    li a {
        color: #fff;
        text-decoration: none;
    }

    footer {
        background-color: #3B4050;
        color: #fff;
    }

    .footer__groups {
        display: flex;
        justify-content: space-between;
    }

    .brown {
        color: #A59678;
    }

    .last__text {
        width: 40%;
    }

    .last__p p {
        max-width: 90%;
        align-self: center;
    }

    .last__links {
        width: 20%;
        justify-content: center;
    }

    .list__one {
        justify-content: flex-start;
    }



}


