*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 1em;

}

img {
    width: 100%
}

.section__title {
    color: #A59678;
}


.section__text {
    background-color: #3b4050;
    color: #ffffff;
    padding: .5rem;
    margin: 1rem 0;
}

header {
    background: #2E323F;
    border: solid 1px purple;
    display: none;
}

.three-col {
    display: none;
}

/* .row {
    display: flex;
    justify-content: space-between
} */

/* nav {
}  */

/* nav ul {
    display: flex;
} */

li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 1rem;
    padding: 0 .5rem;
    width: 5rem;
}

/* li a {
    color: #fff;
    text-decoration: none;
} */

.footer__groups {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px){

    .three__col__text {
        display: flex;
        
    }

    .section__text + .section__text {
        margin-left: 1rem;
    }

    li a {
        color: #fff;
        text-decoration: none;
    }

    .footer__groups {
        display: flex;
        justify-content: space-between;
    }
    

}


