/* *,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular';
    font-size: 21px;
    line-height: 1.3em;
}

.hero {
    background-color: #F3EED9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

h4 span {
    margin: 0 .4em;
}

.section--title {
    font-family: 'Playfair Display', serif;
    color: #824936;
}

.hero p {
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 2em;
}


.main--title {
    color: #824936;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.main--text p {
    border: 1px solid red;
}

.row {
    display: flex;
    justify-content: space-between;
}

.p--one {
    flex: 1;
}


img {
    flex: 1;
}

.image--one {
    background-color: #222C2A;
    color: white;
}

.section--text {
    border: 1px solid white;
    flex: 1;
}

.image__title {
    text-align: center;
    font-family: 'Playfair Display', serif;

}




.image--two {
    background-color: #824936;
    color: white;
}

.second-image {
    border: 1px solid white;
    flex: 1;
}

.image--two__text {
    border: 1px solid white;
    flex: 1;
} */


/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125;
    line-height: 1.6;
    color: #222C2A;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
}

section {
    padding: 4em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}