*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Regular';
    font-size: 21px;
    line-height: 1.3em;
}

.hero {
    background-color: #F3EED9;
    width: 100%;
    /* max-width: 1128px; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

h4 span {
    margin: 0 .4em;
}

.section--title {
    font-family: 'Playfair Display', serif;
    color: #824936;
}

.hero p {
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 2em;
}

/* .main {
} */

.main--title {
    color: #824936;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.main--text p {
    border: 1px solid red;
}

.row {
    display: flex;
    justify-content: space-between;
}

.p--one {
    flex: 1;
}

/* .p--one+.p--one {
    margin-left: 1em;
} */

img {
    width: 100%;
    flex: 1;
}

.image--one {
    /* display: flex; */
    background-color: #222C2A;
    color: white;
}

.image__title {
    text-align: center;
    font-family: 'Playfair Display', serif;

}

.first--image {
    margin-left: 1em;
}

.section--text {
    border: 1px solid white;
}

.image--two {
    background-color: #824936;
    color: white;
}

.second-image {
    border: 1px solid white;
}

.image--two__text {
    margin-left: 1.5em;
    width: 100%;
    border: 1px solid white;
}