* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background: #23424A;
    color: white;
    padding: 2em; 

}

.inner {
    margin: 0 auto;
    max-width: 750px;
    width: 80%;
    border: solid 1px white;
}

button {
    border-radius: 50px;
    background-color: #38cfd9;
}

button:hover,
:focus {
    background-color: #fff;

}

.innest {
    width: 50%;
}

