* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background: #23424A;
    color: white;
    padding: 2em; 
}

.inner {
    width: 50%;
    max-width: 750px;
    /* margin: auto; */
}

button {
    border-radius: 50px;
}